* {
  margin:0;
  padding:0;
}

a {
    text-decoration: none;
    color:inherit;
}

h1 {
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom:15px;
}

h3 {
    margin-bottom:15px;
    font-weight:500;
}

p {
    text-align:justify;
}

#choose section {
    float:left;
    width:50%;
}


#choose {
    text-align:center;
}

#selection {
    height:250px;
    margin-top:50px;
}

loginbox {
    width:350px;
    height:305px;
    text-align:center;
}

#google {
    margin-top:15px;
    background-image:url(../images/google.jpg);
    height:47px;
}

button {
    margin-top: 15px;
    padding: 14px 26px;
    background-color: #ff0035;
    color: whitesmoke;
    font-size: 1.0vw;
    font-weight: 500;
    font-family: raleway;
    border: none;
    letter-spacing: 2px;
}

#loginbox {
    margin-left: 3%;
    float: left;
    text-align:center;
    width: 310px;
    height: 305px;
    background-color:#2c3e50;
    padding:20px;
}

#loginbox input {
    display:block;
    width:85%;
    height:14%;
    font-size:13px;
    font-family:Raleway;
    margin-bottom:15px;
    padding-left:40px;
}

#loginbox button {
    width:100%;
    font-size:16px;
}


#loginbox :nth-child(2) {
    background-image:url(../images/personlogo.jpg);
    background-position:6px 6px;
    background-repeat: no-repeat;
}

#loginbox :nth-child(3) {
    background-image:url(../images/passlogo.jpg);
    background-position:6px 7px;
    background-repeat: no-repeat;
}


body {
    font-family:Raleway;
    font-weight:300;
    color:whitesmoke;
}

html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
  text-align:center;
  height:130px;
  width:100%;
  top:0px;
  left:0px;
    float:left;
}

footer {
  width:100%;
  bottom:0px;
  left:0px;
  position:fixed;
  height:50px;
  background-color:#2c3e50;
  opacity:0.8;

}

#headright {
  position: absolute;
  right: 50px;
  top: 45px;
}

#profilePic {
    display:block;
    float:right;
    width:52px;
    height:52px;
    background: url("../images/profile.png");
    background-repeat: no-repeat;
}

#profileName {
    float: left;
    padding-top: 12%;
    margin-right: 20px;
}

footer .container :nth-child(1){
   float:left;
    margin: 1.5% 3%;
}

footer .container :nth-child(2){
    float:right;
    margin: 1.5% 3%;
}


.container {
  width:80%;
  padding:0px 40px;
  margin:0 auto;
}

#menuicon {
  position: absolute;
  left: 50px;
  top: 45px;
  background: url("../images/menu.png");
  width: 36px;
  height: 30px;
}

#logo {
  display:inline-block;
  margin-top:15px;
  background:url("../images/logo.png");
  width:89px;
  height:105px;
}



.twothirdCol {
    width: 58%;
    padding: 3%;
    float: left;
}

.thirdCol {
  width:29%;
  padding:10px;
  float:left;
}

#Half {
  width:529px;
  padding:10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
    width:100%;
    transition: margin-left .5s;
    margin-top:5%;
    float:left;
}

#main {
    padding: 20px;
}

#analysis {
    padding: 0;
    text-align:center;
}

#analysis input {
    width:28%;
    font-size:15px;
    padding:1%;
    padding-left:4%;
    background: rgba(255, 255, 255, 0.05);
    color:#6d717c;
    font-family:Raleway;
    font-weight:200;
    border:1px grey solid;
    background-image:url(../images/search.png);
    background-position:6px 8px;
    background-repeat: no-repeat;
}

#build_icon {
    transition: margin-top .5s;
    display:block;
    margin:0 auto;
    width: 122px;
    height: 122px;
    background-image:url(../images/build.png);
    background-repeat: no-repeat;
    margin-bottom:15px;
}

#lucky_icon:hover, #build_icon:hover {
    margin-top:15px;
}

.build_text:hover {
    background-color: rgba(104, 116, 139, 0.7);
}

#lucky_icon {
    transition: margin-top .5s;
    display:block;
    margin:0 auto;
    width: 122px;
    height: 122px;
    background-image:url(../images/lucky.png);
    background-repeat: no-repeat;
    margin-bottom:15px;
}

.build_text {
    border: 1px solid #68748b;
    border-radius: 10px;
    padding: 7px 30px;
    display: block;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
    width:55%;
    transition: background .5s;
}

#artists {
    margin-top:30px;
}

.artist {
    float: left;
    background: rgba(255, 255, 255, 0.16);
    width: 18%;
    padding-top: 10px;
    height: 30px;
    margin-left: 2%;
    margin-bottom: 1%;
}

.cancel {
    position:relative;
    left:14px;
    top:4px;
    float:left;
    width:11px;
    height:11px;
    background-image:url(../images/cancel.png);
    background-repeat: no-repeat;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
    #profileName {display:none}
    .twothirdCol {width:100%;}
    .thirdCol {width:100%;}

}
